.bundle
Gemfile.lock
.DS_Store
.project
*.log
log/*
config/database.yml
*.db
db/*.sqlite3
public/system/*
*.swp
*~
tmp/**/*
dump
tmp/*
pkg/*
coverage/*
spec/coverage/*
rails_best_practices_output.html
schema.rb
solr/data
spec/models/coverage
spec/controllers/coverage
spec/views/coverage
.redcar
*redcar*
vendor/cache
vendor/ruby
public/data/*.xml
solr/pids
